@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(
    rgba(14, 14, 41, 1),
    rgba(46, 29, 49, 1),
    rgba(33, 30, 33, 1)
  );
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: #fff;
  background-repeat: no-repeat;
  background: var(--gradient);
  background-attachment: fixed;
}
